<link rel="import" href="../polymer/polymer.html">

<link rel="import" href="cells-polymer2-trivial-styles.html">
<!--
`<cells-polymer2-trivial>` description.

Example:

```html
<cells-polymer2-trivial></cells-polymer2-trivial>
```

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:--------------:|
| --cells-polymer2-trivial  | Mixin applied to :host     | {}  |
| --cells-fontDefault  | Font family of :host    | sans-serif  |

@demo demo/index.html
-->
<dom-module id="cells-polymer2-trivial">
  <template>
    <style include="cells-polymer2-trivial-styles cells-polymer2-trivial-shared-styles"></style>
      <style>
      .hidden{
         display:none;
      }
      </style>
   <div class$="[[contestada]]">
     <h1>[[pregunta.enunciado]]</h1>  
     <ul>
     <dom-repeat items="[[pregunta.respuetas]]" as="respueta">
      <template>
        <li  on-click="modificaRespuestaSelecionada" >[[respueta]]</li>
      </template>
     </dom-repeat>
     </ul>
     <button on-click="compruebaRespuesta">COMPROBAR</button>
   </div>

   <div class$="[[correcta]]">Acertaste</div>
   <div class$="[[incorrecta]]">Fallaste</div>
  </template>
  <script src="cells-polymer2-trivial.js"></script>
</dom-module>
